.button {
  width: 150px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-top: 15px;
}

.button:hover {
  color: green;
  opacity: 1;
}

.pull-right{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.button-green{
  background-color: green;
}

.button-white {
  background-color: white;
}

.button-see-thru{
  opacity: 0.5;
}
.headline {
  background-color: green;
  width: 100%;
}

html, body{
  margin: 0;
  padding: 0;
}
/*This will select every .headline and every h1 on the page*/
.headline,h1{}
  /*This will select only h1s contained in .headlines*/
.headline h1{
  text-align: center;
  font-size: 48px;
  color: white;
  font-weight: 400;
  padding: 80px 0;
  margin: 0;
  font-family: sans-serif;
}
