.button {
  width: 150px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 10px;
}

.button:hover {
  background-color: white;
  color: green;
}

.pull-right{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.button-green{
  background-color: green;
}
